%header.header.navigation{role: 'banner'}
  .navigation-wrapper
    %a.logo
      = image_tag "logo.png"
      = image_tag "radio.png"
    %nav{role: 'navigation'}

%p

.cards
  -Song.by_price[0..99].each_with_index do |song, index|
    .card
      .card-image
        .number
          #{index + 1}
      .card-header
        .title
          #{song.title}
        .price{class: song.up_or_down?}
          $#{song.price}
        .artist
          #{song.artist}
      .card-copy
        Bid: #{song.bid} Ask: #{song.ask}
