.header
  .logo= image_tag "logo.png"
  .radio= image_tag "radio.png"

%p #{Artist.count} artists and #{Song.count} songs

%ol
  -Song.by_price.each do |song|
    %li #{song.title} $#{song.price}



-# =render 'artists/index'
