%a.card{href: song_path(song)}
  .card-image
    .number
      #{index + 1}
    =image_tag song.artist.image_url
  .card-header
    .title
      #{song.title}
    .price
      #{number_to_currency(song.price)}
      .chg{class: song.up_or_down?}
        #{last_move(song)}
        %br
        (#{song.pct_change}%)
    .artist
      #{song.artist}
  .card-copy
    Bid: #{number_to_currency(song.bid)} Ask: #{number_to_currency(song.ask)}
