.detail.cards
  .card.pricebox
    .pricebox
      %h1
        =@song.title
      %h2
        =@song.artist
    .pricebox
      %h2
        #{number_to_currency(@song.price)}
        .chg{class: @song.up_or_down?}
          #{last_move(@song)}
          %br
          (#{@song.pct_change}%)
  .card.pricebox
    .pricebox
      %h2
        Bid: #{@song.bid}
      %h2
        Ask: #{@song.ask}
    .pricebox
      %h2
        Market Cap: #{number_to_currency(@song.market_cap)}
      %h2
        PE: 1
    .pricebox
      %h2
        Beta: 1
      %h2
        Vol: 1
  .card.pricebox.action_text
    You are not logged in.
    %p
    Sign up to buy shares of #{@song.title}

.cards
  .chart.card
    = line_chart @prices, adapter: 'google', legend: false, curve: false
  .card

.card
  -[10,20,50,100,300].each do |d|
    =link_to "#{d}d", "?d=#{d}"
.cards
  .card
  .card
